@charset "UTF-8";

.centerbody{
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.regform {
  background-color: #BCEBDD;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  width: 320px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
}

.caption {
	font-size: 32px;
}